.classyName {
  color: red;
  margin-top: 20px;
}

body {
  background-color: white;
  background-image: url('http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg');
  background-size: 100%;
}

ul {
  color:green;
}

li {
  color: black;
}