html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fafafa;
}

main {
  flex: 1 0 auto;
}

ul {
  list-style: none;
}

li {
  color: black;
  list-style: none;
}

.backgroundVideo{
  height: 100%;
  width: 100%;
  top: 0;
  padding: none;
  position: fixed;
  z-index: -100
}

footer {
  background:#ffab62;
  width:100%;
  height:140px;
  position: absolute;
  bottom:0;
  left:0;
}

.footerApp {
  background:#ffab62;
  width:100%;
  height:60px;
  position: absolute;
  bottom:0;
  left:0;
  padding: 10px;
}

.title {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  padding-left: 10px;
}

.titleCheck {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.sectionHeading {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  margin: 20px;
  color: #424242;
}

.settingsButton {
  float: left;
  text-align: left;
}
.copywriter {
  float: right;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #fafafa;
}

.welcomeTopBar {
  padding-bottom: 10px;
}

.welcomeMessage {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
}

.callToAction {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #fafafa;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #03a9f4;
    box-shadow: 0 1px 0 0 #03a9f4;
}


button {
  background-color: transparent;
  color: #fafafa;
  border: 2px solid #03a9f4;
  border-radius: 2px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 0 10px 0 10px;
}
button:focus {
    outline: none;
    background-color: #03a9f4;
}
.tableContainer {
  margin: 10px;
}
#tableHeader {
  max-width: 90%;
}

.tabs .tab {
  border: 2px solid #03a9f4;
  text-transform: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  max-width: 100%;
}
.tab:first-child {
  border: 2px solid #03a9f4;
  border-right: none;
}

.tab:active{
  background-color: #bf360c;
}